.ingredients{
    background-color: darkblue;
    color: yellow;
    border-width: 20px;
    border-color: blue;
    padding: 20px;
    margin-bottom: 20px;;
}

.recipe {
    background-color: darkred;
    color: orange;
    border-width: 20px;
    border-color: blue;
    padding: 20px;
}

.center{
    text-align:center;
}

img {
    display: block;
    margin: 0 auto;
}

